
@CHARSET "ISO-8859-1";

	#top {
            position:relative;
            vertical-align: top;
            background-color:#666666;
            height:10em;
            width:100%;
            left:0;
            top:0;
        }
	
	#content {
            background-color:#666666;
            left: 0;
            top: 0em;
            position:relative;
            margin-left: 1px;
            padding:5px;
            margin-bottom:1px;
	}

	#bottom {
            background-color:#999999;
            position:relative;
            margin-left: 0px;
            padding:5px;
            bottom:0px;
            top: 1em
        }	